@charset "UTF-8";
/*utilities*/
/*base*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*layout*/
.header {
  background-color: #06A54F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
}
.header .nav-links {
  list-style: none;
}
.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}
.header .nav-links li:hover {
  transform: scale(1.1);
}
.header .nav-links li .a {
  text-decoration: none;
  color: #fff9f9;
  font-family: "Oswald", sans-serif;
  font-size: 1.0625rem;
}
.header .nav-links li .a:hover {
  color: #FEB934;
}
.header .btn-login, .header .btn-carrito {
  padding: 9px 35px;
  border-radius: 50px;
  background-color: #fff9f9;
  border: solid 2px black;
}
.header .btn-login:hover, .header .btn-carrito:hover {
  transform: scale(1.1);
  background-color: #28A162;
  color: #fff9f9;
}
.header .btn-login .a-btn, .header .btn-carrito .a-btn {
  color: #9FCF64;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 0.9375rem;
}
.header .btn-carrito {
  background-color: rgb(11, 10, 10);
  color: #fff9f9;
  border: none;
  font-family: "Oswald", sans-serif;
  font-size: 0.9375rem;
}
.header .btn-carrito:hover {
  border: solid 2px black;
}

.grid-principal {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "blanco blanco amarillo amarillo amarillo" "blanco blanco amarillo amarillo amarillo";
}
.grid-principal .contenedor-blanco {
  grid-area: blanco;
  background-color: #fff9f9;
}
.grid-principal .contenedor-blanco .contenedor-new {
  margin-left: 28%;
  margin-top: 15%;
  margin-bottom: 6%;
}
.grid-principal .contenedor-blanco .contenedor-new .new {
  font-family: "Oswald", sans-serif;
  padding: 1.5% 3%;
  font-size: 0.9375rem;
  background-color: #D9D9D9;
}
.grid-principal .contenedor-blanco .contenedor-texto {
  margin-left: 27%;
  margin-bottom: 15%;
  margin-right: 3%;
}
.grid-principal .contenedor-blanco .contenedor-h1-index {
  font-family: "Oswald", sans-serif;
  font-size: 3.75rem;
}
.grid-principal .contenedor-blanco .parrafo-principal {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.125rem;
  font-style: italic;
}
.grid-principal .contenedor-amarillo {
  grid-area: amarillo;
  background-color: #FEB934;
}
.grid-principal .contenedor-amarillo .img-principal {
  position: absolute;
  width: 50%;
  top: 25%;
  right: 20%;
}
.grid-principal .contenedor-amarillo .img-secundario {
  position: absolute;
  width: 40%;
  top: 23%;
  left: 60%;
}

.flex-index {
  display: flex;
  justify-content: space-between;
  background-color: #FFE3B4;
}
.flex-index .pedido-rapido {
  margin-top: 3%;
  margin-left: 11%;
}
.flex-index .pedido-rapido .titulo-flex-uno {
  font-family: "Oswald", sans-serif;
  font-size: 2.1875rem;
  margin-bottom: 6%;
}
.flex-index .pedido-rapido .parrafo-delivery {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9375rem;
  margin-bottom: 5%;
}
.flex-index .trabaja-nosotros {
  margin-top: 3%;
  margin-right: 11%;
}
.flex-index .trabaja-nosotros .titulo-flex-dos {
  font-family: "Oswald", sans-serif;
  font-size: 2.1875rem;
  text-align: right;
  margin-bottom: 6%;
}
.flex-index .trabaja-nosotros .parrafo-trabaja-nosotros {
  text-align: right;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9375rem;
  margin-bottom: 5%;
}
.flex-index .bnt-contacto, .flex-index .btn-pedido {
  padding: 2.5% 5%;
  background-color: #28A162;
  border: none;
  border-radius: 10px;
}
.contenedor-btn-contacto, .contenedor-btn-pedido {
  text-align: right;
  margin-bottom: 7%;
}

.contenedor-btn-pedido {
  text-align: left;
}

.a {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9375rem;
  color: #f1f1f1;
  text-decoration: none;
}

.gris-seix-productos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "verde verde naranja naranja ensalada ensalada" "azul azul azul rosa rosa blanco";
}
.gris-seix-productos .contendor-texto-producto {
  margin-left: 15.5%;
  margin-top: 7%;
}
.gris-seix-productos .contendor-texto-producto .titulo-productos {
  font-family: "Oswald", sans-serif;
  font-size: 2.1875rem;
  color: #fff9f9;
}
.gris-seix-productos .contendor-texto-producto .parrafo-producto {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.125rem;
  color: #f1f1f1;
  margin-top: 3%;
}
.gris-seix-productos .sandwich-contenedor {
  background-color: #06A54F;
  grid-area: verde;
}
.gris-seix-productos .sandwich-contenedor .img-sandwiches {
  width: 40%;
  margin-top: -310.5px;
  margin-left: 60%;
}
.gris-seix-productos .burguer-contenedor {
  background-color: #FF8D24;
  grid-area: naranja;
}
.gris-seix-productos .burguer-contenedor .img-burger {
  width: 80%;
  margin-top: -390px;
  margin-left: 20%;
}
.gris-seix-productos .ensalada-contenedor {
  background-color: #9FCF64;
  grid-area: ensalada;
}
.gris-seix-productos .ensalada-contenedor .img-ensalada {
  width: 63%;
  margin-top: -310px;
  margin-left: 37%;
}
.gris-seix-productos .kids-contenedor {
  background-color: #255DCC;
  grid-area: azul;
}
.gris-seix-productos .kids-contenedor .img-hotdog {
  width: 45%;
  margin-top: -300px;
  margin-left: 56%;
}
.gris-seix-productos .postres-contenedor {
  background-color: #CF2667;
  grid-area: rosa;
}
.gris-seix-productos .postres-contenedor .img-helado {
  width: 40%;
  margin-top: -300px;
  margin-left: 61%;
}
.gris-seix-productos .color-more {
  background-color: #fff9f9;
  height: 100%;
  grid-area: blanco;
}
.gris-seix-productos .color-more .contenedor-more {
  text-align: center;
  margin-top: 40%;
}
.gris-seix-productos .color-more .contenedor-more .more-parrafo {
  font-family: "Oswald", sans-serif;
  font-size: 2.1875rem;
  color: #080707;
}
.gris-seix-productos .btn-ver-mas, .gris-seix-productos .btn-ver-mas-helado {
  margin-top: 6%;
  padding: 2% 6%;
  border-radius: 30px;
  background-color: #080707;
  border: none;
}
.gris-seix-productos .btn-ver-mas-helado {
  margin-top: 10%;
  padding: 3% 8%;
}

.contenedores {
  padding: 12% 0%;
  background-color: #FFE3B4;
  text-align: center;
}
.contenedores .tipografia {
  font-family: "Oswald", sans-serif;
  font-size: 3.75rem;
  color: #fff9f9;
  letter-spacing: 3px;
}

.contenedor-titulos {
  background-color: #9FCF64;
  padding: 3% 0%;
  text-align: center;
}
.contenedor-titulos .titulo-h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.1875rem;
  color: #fff9f9;
}

.grid-hamburguesa {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 9%;
  margin-bottom: 6%;
  margin-left: 4%;
  margin-right: 4%;
}
.grid-hamburguesa .contenedor-hamburguesa {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.img-productos {
  width: 70%;
  border-radius: 25px;
}

.nombre-producto {
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 4%;
}

.ingredientes {
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
}

.precio {
  font-family: "Noto Sans", sans-serif;
  font-style: italic;
  margin-top: 10%;
  font-size: 0.9375rem;
}

.btn-agregar {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8125rem;
  padding: 4% 24%;
  color: #fff9f9;
  background-color: #28A162;
  border: none;
  margin-top: 7%;
}

.grid-ensalada {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-top: 9%;
  margin-bottom: 6%;
  margin-left: 4%;
  margin-right: 4%;
}
.grid-ensalada .contenedor-ensalada {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid-sandwich {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 9%;
  margin-bottom: 6%;
  margin-left: 4%;
  margin-right: 4%;
}
.grid-sandwich .contenedor-sandwiches {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 12%;
}

.grid-postre {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 9%;
  margin-bottom: 6%;
  margin-left: 4%;
  margin-right: 4%;
}
.grid-postre .contendor-postres {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid-niños {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 9%;
  margin-bottom: 6%;
  margin-left: 4%;
  margin-right: 4%;
}
.grid-niños .contenedos-niños {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 12%;
}

.franquicias-contenedor {
  padding: 8% 0%;
  background-color: #FFE3B4;
  text-align: center;
}
.franquicias-contenedor .tipografia {
  font-family: "Oswald", sans-serif;
  font-size: 3.75rem;
  color: #fff9f9;
  letter-spacing: 3px;
}
.franquicias-contenedor .franquicia {
  text-align: left;
  margin-left: 11%;
}
.franquicias-contenedor .franquicia .palabra-yellow {
  color: #FEB934;
}

.grid-ventajas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "texto texto dibujo";
  margin-top: 18%;
  align-items: center;
}
.grid-ventajas .texto-franquicia {
  grid-area: texto;
  margin-left: 16.5%;
}
.grid-ventajas .titulo-ventajas {
  font-family: "Oswald", sans-serif;
  font-size: 2.1875rem;
  margin-bottom: 1.5%;
}
.grid-ventajas .parrafo-ventajas {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9375rem;
}
.grid-ventajas .circulo-green {
  height: 230px;
  width: 230px;
  border-radius: 120px;
  background-color: #9FCF64;
  grid-area: dibujo;
}
.grid-ventajas .numero-franquicia {
  font-family: "Noto Sans", sans-serif;
  font-size: 2.1875rem;
  font-style: italic;
  color: #FF8D24;
}
.grid-ventajas .negocio-franquicia {
  font-family: "Oswald", sans-serif;
  font-size: 2.1875rem;
}
.grid-ventajas .texto-requiere {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9375rem;
}

.contendor-parrafo-formulario {
  margin-bottom: 10%;
}
.contendor-parrafo-formulario .parrafo-formulario {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9375rem;
  text-align: center;
}

.contenedor-formulario {
  margin-bottom: 10%;
}
.contenedor-formulario .grid-formulario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "email nombre" "whatsapp whatsapp";
  text-align: center;
}
.contenedor-formulario .grid-formulario .input-form {
  width: 70%;
  height: 75%;
  border-radius: 30px;
}
.contenedor-formulario .grid-formulario .correo-electronico {
  grid-area: email;
  margin-bottom: 6%;
}
.contenedor-formulario .grid-formulario .nombre {
  grid-area: nombre;
  margin-bottom: 6%;
}
.contenedor-formulario .grid-formulario .whatsapp {
  grid-area: whatsapp;
  margin-bottom: 3%;
}
.contenedor-formulario .grid-formulario .input-tel {
  width: 85%;
  height: 75%;
  border-radius: 30px;
}

.contenedor-boton {
  text-align: center;
  margin-top: 3%;
}
.contenedor-boton .btn-enviar {
  background-color: #FEB934;
  padding: 1% 3%;
  border: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9375rem;
}

.trabaja-contenedor {
  padding: 8% 0%;
  background-color: #9FCF64;
  text-align: center;
}
.trabaja-contenedor .tipografia {
  font-family: "Oswald", sans-serif;
  font-size: 3.75rem;
  color: #fff9f9;
  letter-spacing: 3px;
}
.trabaja-contenedor .franquicia {
  text-align: left;
  margin-left: 11%;
}
.trabaja-contenedor .franquicia .palabra-yellow {
  color: #FEB934;
}

.contenedor-parrafo-trabaja {
  text-align: center;
  margin: 6% 0%;
}
.contenedor-parrafo-trabaja .parrafo-trabaja {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9375rem;
}

.grid-trabaja {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  margin-bottom: 4%;
}
.grid-trabaja .contenedor-trabaja {
  margin-bottom: 6%;
}
.grid-trabaja .contenedor-trabaja .form-trabajo {
  height: 50px;
  width: 70%;
  border-radius: 30px;
}
.grid-trabaja .contenedor-btn {
  margin-top: -4%;
}
.grid-trabaja .contenedor-btn .btn-trabajo {
  padding: 1.5% 30%;
  background-color: #9FCF64;
  border: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.875rem;
  color: #f1f1f1;
}

.contenedor-btn-trabaja {
  text-align: center;
}
.contenedor-btn-trabaja .btn-enviar-trabaja {
  padding: 1% 4%;
  border: none;
  background-color: #FEB934;
  margin-bottom: 15%;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9375rem;
}

.contenedor-lugares {
  text-align: center;
  background-color: #FAF7F2;
  padding-bottom: 10%;
  padding-top: 6%;
}
.contenedor-lugares .encontrarnos {
  font-family: "Oswald", sans-serif;
  font-size: 2.1875rem;
}
.contenedor-lugares .grid-mapas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-top: 10%;
}
.contenedor-lugares .grid-mapas .lugares {
  font-family: "Oswald", sans-serif;
  font-size: 1.875rem;
  color: #FEB934;
}
.contenedor-lugares .grid-mapas .map {
  width: 200px;
  height: 200px;
}
.contenedor-lugares .grid-mapas .btn-ver-mas, .contenedor-lugares .grid-mapas .gris-seix-productos .btn-ver-mas-helado, .gris-seix-productos .contenedor-lugares .grid-mapas .btn-ver-mas-helado {
  padding: 2% 14%;
  background-color: #FEB934;
  border: none;
  /*font-family: 'Noto Sans', sans-serif;
  font-size: .9375rem;*/
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 0 black;
}
.contenedor-lugares .grid-mapas .btn-ver-mas:active, .contenedor-lugares .grid-mapas .gris-seix-productos .btn-ver-mas-helado:active, .gris-seix-productos .contenedor-lugares .grid-mapas .btn-ver-mas-helado:active {
  transform: translate(-2px -4px);
  box-shadow: 12px 5px 0 0 black;
}
.contenedor-lugares .grid-mapas .btn-ver-mas .link, .contenedor-lugares .grid-mapas .gris-seix-productos .btn-ver-mas-helado .link, .gris-seix-productos .contenedor-lugares .grid-mapas .btn-ver-mas-helado .link {
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9375rem;
}

.main-login {
  background-color: #9FCF64;
  padding: 5.5% 0%;
}
.main-login .contenedor-login {
  /*margin: ;*/
  text-align: center;
}
.main-login .contenedor-login .h2-login {
  font-size: 3.75rem;
  color: #fff9f9;
  letter-spacing: 3px;
  color: #FEB934;
}
.main-login .contenedor-login .btn-login-trabaja, .main-login .contenedor-login .btn-login-dos-trabaja {
  background-color: #fff9f9;
  border-radius: 20px;
  border: none;
  font-family: "Oswald", sans-serif;
  font-size: 0.8125rem;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 #080707;
  padding: 1% 20%;
  margin-bottom: 3%;
  margin-top: 6%;
}
.main-login .contenedor-login .btn-login-trabaja:active, .main-login .contenedor-login .btn-login-dos-trabaja:active {
  transform: translate(-2px -4px);
  box-shadow: 12px 5px 0 0 #080707;
}
.main-login .contenedor-login .btn-login-dos-trabaja {
  padding: 1% 24%;
  margin-bottom: 0%;
  margin-top: 0%;
}

.footer-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2%;
  background-color: #28A162;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #fff9f9;
}
.footer-flex .escribinos, .footer-flex .seguinos {
  font-family: "Oswald", sans-serif;
  font-size: 0.9375rem;
}
.footer-flex .iconos-redes {
  margin-right: 20%;
}

/*components*/
.carousel-margen {
  margin-top: 10%;
  margin-bottom: 14%;
  margin-left: 6%;
  margin-right: 6%;
}
.carousel-margen .carousel {
  text-align: center;
}
.carousel-margen .numero-franquicia {
  font-family: "Noto Sans", sans-serif;
  font-size: 2.1875rem;
  font-style: italic;
  color: #FF8D24;
}
.carousel-margen .negocio-franquicia {
  font-family: "Oswald", sans-serif;
  font-size: 2.1875rem;
}
.carousel-margen .texto-requiere {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9375rem;
}

/*media querrys*/

/*# sourceMappingURL=style.css.map */
