$bg-principal:#06A54F;
$color-yellow:#FEB934;
$color-white:#fff9f9;
$bg-secundario:#FFE3B4;
$bg-btn-green:#28A162;
$bg-naranja:#FF8D24;
$bg-verdecito:#9FCF64;
$bg-azul:#255DCC;
$bg-rosa:#CF2667;
$bg-black:#080707;
