.trabaja-contenedor{
    padding: 8% 0%;
    background-color: $bg-verdecito;
    text-align: center;
    .tipografia{
        font-family: 'Oswald', sans-serif;
        font-size: map-get($map: $font-size, $key:parrafo-sm);
        color: $color-white;
        letter-spacing: 3px;
    }
    .franquicia{
        text-align: left;
        margin-left: 11%;
        .palabra-yellow{
            color: $color-yellow;
        }
        
    }
}

.contenedor-parrafo-trabaja{
    text-align: center;
    margin: 6% 0%;
    .parrafo-trabaja{
        font-family: 'Noto Sans', sans-serif;
        font-size: map-get($map: $font-size, $key: parrafo-md )
    }
}

.grid-trabaja{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    text-align: center;
    margin-bottom: 4%;
    .contenedor-trabaja{
        margin-bottom: 6%;
        .form-trabajo{
            height: 50px;
            width: 70%;
            border-radius: 30px;
        }
    }
    .contenedor-btn{
        margin-top: -4%;
        .btn-trabajo{
            padding: 1.5% 30%;
            background-color: #9FCF64;
            border: none;
            font-family: 'Noto Sans', sans-serif;
            font-size: .875rem;
            color: #f1f1f1;
        }
    }
}

.contenedor-btn-trabaja{
    text-align: center;
    .btn-enviar-trabaja{
        padding: 1% 4%;
        border: none;
        background-color: #FEB934;
        margin-bottom: 15%;
        font-family: 'Noto Sans', sans-serif;
        font-size: .9375rem;
    }
    
}

.contenedor-lugares{
    text-align: center;
    background-color: #FAF7F2;
    padding-bottom: 10%;
    padding-top: 6%;
    .encontrarnos{
        font-family: 'Oswald', sans-serif;
        font-size: 2.1875rem;
    }
    .grid-mapas{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(1,1fr);
        margin-top: 10%;
        .lugares{
            font-family: 'Oswald', sans-serif;
            font-size: 1.875rem;
            color: #FEB934;
        }
        .map{
            width: 200px;
            height: 200px;
        }
        .btn-ver-mas{
            padding: 2% 14%;
            background-color: #FEB934;
            border: none;
            /*font-family: 'Noto Sans', sans-serif;
            font-size: .9375rem;*/
            transition: all 0.3s ease-in-out;
            box-shadow: 0 0 0 0 black;
            &:active{
                transform: translate(-2px -4px);
                box-shadow: 12px 5px 0 0 black;
            }
            .link{
                text-decoration: none;
                font-family: 'Noto Sans', sans-serif;
                font-size: .9375rem;
            }
        }
        
    }
}