@media (max-width:1035px){
    .header .nav-links .a {
        font-size: .8125rem;
    }
    .header .btn-login .a-btn, .header .btn-carrito {
        font-size: .6875rem;
    }
    main .contenedor-titulos .titulo-h2 {
        font-size: 1.9375rem;
    }
    main .nombre-producto {
        font-size: 1rem;
    }
    main .ingredientes {
        font-size: .6875rem;
    }
    main .precio {
        font-size: .6875rem;
    }
    main .btn-agregar {
        font-size: .5625rem;
    }
}