@media (max-width:287px){
    main .tipografia {
        font-size: 2rem;
    }
    main .nombre-producto {
        font-size: .625rem;
    }
    main .ingredientes {
        font-size: .5rem;
    }
}