@media (max-width:457px){
    .header .nav-links .a {
        font-size: .9375rem;
    }
    main .contenedor-titulos .titulo-h2, main .tipografia {

        font-size: 1.25rem;
    }
    main .nombre-producto {
        font-size: 1.125rem;
    }
    main .precio {
        font-size: .8125rem;
    }
    main .btn-agregar {
        font-size: .6875rem;
    }
    .footer-flex .escribinos, .seguinos {
        font-size: .8125rem;
    }
    .header .nav-links li {
        padding: 0 60px;
    }
    .header {
        height: 180px;
    }
    main .grid-hamburguesa {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(9,1fr); 
        
    }
    main .ingredientes {
        font-size: .6875rem;
    }
    main .grid-ensalada {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);

    }
    main .grid-sandwich {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(7,1fr);
        
    }
    main .grid-postre {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(9,1fr);
        
    }
    main .grid-niños {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr);
        
    }
    .footer-flex .escribinos, .seguinos {
        font-size: .4375rem
    }
    main .circulo-green {
        height: 100px;
        width: 100px;
        border-radius: 80px;
    }
}